* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ccc;
}

.wrapper {
	display: block;
	width: 1200px;
	margin: 0 auto;
	border: 2px solid #000;
	background: #c0c;
}

header {
	display: block;
	background: #0c0;
	font-size: 50px;
	color: #fff;
	text-align: center;
}

.left_nav {
	display: inline-block;
	font-size: 20px;
	color: #fff;
	text-align: left;
	float: left;
	width: 20%;
	height: auto;
}

.content {
	display: inline-block;
	font-family: sans-serif;
	font-size: 25px;
	text-align: center;
	width: 60%;
	background-color: #fff;
}

.rigth_nav {
	display: inline-block;
	font-size: 20px;
	color: #fff;
	text-align: right;
	float: right;
	width: 20%;
}

footer {
	display: block;
	background: #0c0;
	font-size: 50px;
	color: #fff;
	text-align: center;
	clear: both;
}

p {
	margin: 0;
	padding: 10px;
}