body {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: block;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	border-left: 2px dotted #000;
	border-right: 2px dotted #000;
	font-family: sans-serif;
}

.logo {
	display: block;
	width: 150px;
	margin: 0;
	padding: 0 0 0 30px;
	text-decoration: none;
	font-size: 20px;
}

span {
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	color: #000;
}

.header_nav {
	display: block;
	box-sizing: border-box;
	border-top: 4px solid #000;
	border-bottom: 4px solid #000;
	margin-top: 40px;
}

.header_nav ul {
	list-style: none;
	display: block;
	margin: 0;
	padding-left: 30px;
}

.header_nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.header_nav a {
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	color: #000;
	font-size: 20px;
	padding: 10px 20px;
}

.header_nav a:hover {
	background-color: #000;
	color: #fff;
}

.content {
	display: block;
	box-sizing: border-box;
	padding: 30px;
	margin: 0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 22px;
}

h1, h2, p {
	margin: 0;
	padding-top: 10px;
}

.main_img {
	padding-top: 10px;
	width: 100%;
}

.footer_nav {
	list-style: none;
	display: block;
	box-sizing: border-box;
	background: #000;
	margin-top: 10px;
	padding: 30px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.footer_nav ul {
	display: block;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.footer_nav li {
	display: inline-block;
	padding: 0 10px;
}

.footer_nav a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.footer_nav a:hover {
	border-bottom: 1px dashed #fff;
}