@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto+Slab:400,700|Roboto:400,500';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.inner {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.inner:after {
	display: block;
	content: "";
	clear: both;
}

.header_top {
	background-color: #fbfbfb;
	box-shadow: 0 1px 3px 0 rgba(155,155,155,.2);
}

.header_top_inner {
	padding: 16px 0;
}

.header_top_inner div {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #646464;
	font-stretch: ultra-expanded;
}

.home {
	float: left;
	border-right: 1px solid #b0b5da;
	padding-right: 10px;
	margin-bottom: 20px;
}

.tele {
	float: left;
	margin-bottom: 20px;
}

.home:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(../img/h_t_contact.png);
	background-position: 0 3px;
	background-repeat: no-repeat;
	margin: 0 6px 0 10px;
}

.tele:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 17px;
	background-image: url(../img/h_t_contact.png);
	background-position: -15px 4px;
	margin: 0 6px 0 10px;
	background-repeat: no-repeat;
}

.social {
	float: right;
	margin-right: 10px;
}

.social a {
	display: inline-block;
	height: 12px;
	margin-left: 17px;
}

.facebook_h_t {
	width: 8px;
	background-image: url(../img/h_t_social.png);
	background-position: 0 0;
}

.facebook_h_t:hover {
	background-image: url(../img/h_t_social.png);
	background-position: 0 -12px;
}

.twitter_h_t {
	width: 13px;
	background-image: url(../img/h_t_social.png);
	background-position: -9px 0;
}

.twitter_h_t:hover {
	background-image: url(../img/h_t_social.png);
	background-position: -9px -12px;
}

.gplus_h_t {
	width: 18px;
	background-image: url(../img/h_t_social.png);
	background-position: -22px 0;
}

.gplus_h_t:hover {
	background-image: url(../img/h_t_social.png);
	background-position: -22px -12px;
}

.v_h_t {
	width: 13px;
	background-image: url(../img/h_t_social.png);
	background-position: -40px 0;
}

.v_h_t:hover {
	background-image: url(../img/h_t_social.png);
	background-position: -40px -12px;
}

.logo {
	height: 105px;
	float: left;
	padding: 25px 0 38px 10px;
}

.logo:hover {
	border-bottom: 5px solid #43a906;
}

nav {
	float: right;
	display: block;
	height: 105px;
}

.menu ul {
	list-style: none;
}

.menu li {
	display: inline-block;
}

.menu a {
	text-transform: uppercase;
	text-decoration: none;
	color: #393939;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	padding: 45px 15px 37px;
	display: block;
}

.menu a:hover {
	color: #43a906;
}

.menu li:hover {
	border-bottom: 5px solid #43a906;
}

.header_slider {
	box-sizing: border-box;
	background-image: url(../img/h_t_bg.jpg);
	background-size: cover;
	background-position: 0 0;
	position: relative;
	padding-top: 273px;
	z-index: 0;
}

.header_slider:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.header_slider h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 72px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 35px;
	line-height: 72px;
}

.header_slider h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 45px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 35px;
	line-height: 45px;
}

.header_slider p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 50px;
	line-height: 20px;
}

.header_slider a {
	display: block;
	width: 180px;
	height: 57px;
	background-color: #000;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 57px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.header_slider a:hover {
	background-color: #43a906;
}

.slide_1 {
	text-align: left;
	display: none;
}

.slide_2 {
	text-align: center;
	/*display: none;*/
}

.slide_3 {
	text-align: right;
	display: none;
}

.slide_2 a {
	margin: 0 auto;
}

.slide_3 a {
	float: right;
}

.slide li {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 5px solid #f5f5f5;
	margin: 0 4px;
}

.slide li:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.slide {
	display: block;
	text-align: center;
	margin: 190px auto 0;
	padding-bottom: 30px;
}

.about_us {
	padding: 113px 0; 
}

.au_text h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.au_text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 35px;
}

.au_tab_main {
	margin-top: 60px;
	float: left;
	width: 25%;
	padding: 0 20px;
}

.tab_img_1, .tab_img_2, .tab_img_3, .tab_img_4 {
	width: 120px;
	height: 120px;
	margin: 0 auto;
}

.tab_img_1 {
	background-image: url(../img/about_sprite.png);
	background-position: 0 0;
}

.tab_img_2 {
	background-image: url(../img/about_sprite.png);
	background-position: -120px 0;
}

.tab_img_3 {
	background-image: url(../img/about_sprite.png);
	background-position: -240px 0;
}

.tab_img_4 {
	background-image: url(../img/about_sprite.png);
	background-position: -360px 0;
}

.tab_name {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #393939;
	margin-top: 35px;
}

.tab_desc {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #646464;
	margin-top: 25px;
}

.au_tab_main:hover .tab_name {
	color: #43a906;
}

.au_tab_main:hover .tab_img_1 {
	background-image: url(../img/about_sprite.png);
	background-position: 0 -120px;
}

.au_tab_main:hover .tab_img_2 {
	background-image: url(../img/about_sprite.png);
	background-position: -120px -120px;
}

.au_tab_main:hover .tab_img_3 {
	background-image: url(../img/about_sprite.png);
	background-position: -240px -120px;
}

.au_tab_main:hover .tab_img_4 {
	background-image: url(../img/about_sprite.png);
	background-position: -360px -120px;
}

.join {
	background-color: #222;
	padding: 100px 0;
	position: relative;
}

.ju_text {
	width: 700px;
	display: inline-block;
}

.ju_text h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.ju_text span {
	color: #43a906;
}

.ju_text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	margin-top: 25px;
}

.join a {
	display: inline-block;
	width: 210px;
	height: 52px;
	background-color: #43a906;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 52px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	float: right;
	position: absolute;
	top: 50%;
	margin-top: -26px;
	margin-left: 200px;
}

.join a:hover {
	font-size: 15px;
}

.join a:active {
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.5) inset;
}

.our_last_work {
	padding: 100px 0;
}

.olw_text h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #222;
	text-transform: uppercase;
}

.olw_text p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #393939;
	margin-top: 35px;
	margin-bottom: 60px; 
}

.olw_nav {
	text-align: center;
}

.olw_nav ul {
	display: block;
	list-style: none;
}

.olw_nav li {
	display: inline-block;
	height: 45px;
	margin: 0 5px;
}

.olw_nav a {
	display: inline-block;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	line-height: 45px;
	background-color: #f6f6f6;
	color: #726e6e;
}

.olw_nav a:hover {
	background-color: #43a906;
	color: #fff;
}

.olw_item {
	margin-top: 50px;
}


.olw_item a {
	display: none;
}

.olw_item a {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	line-height: 265px;
	text-transform: uppercase;
	text-decoration: none;
}

.tab_1 {
	float: left;
}

.tab_2 {
	float: right;
}

.tab_h {
	margin-bottom: 6px;
}

.tab_h_1 {
	display: inline-block;
	width: 580px;
	height: 285px;
	background-image: url(../img/olw_item_1.jpg);
	background-position: 0 0;
	margin-right: 6px;
	position: relative; 
}

.tab_h_1:hover a {
	display: block;
	width: 560px;
	height: 265px;
	background-color: #222;
	opacity: 0.85;
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: center;
}

.tab_h_2 {
	display: inline-block;
	width: 285px;
	height: 285px;
	background-image: url(../img/olw_item_2.jpg);
	background-position: 0 0;
	position: relative; 
}

.tab_h_2:hover a {
	display: block;
	width: 265px;
	height: 265px;
	background-color: #222;
	opacity: 0.85;
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: center;
}

.tab_f_1 {
	display: inline-block;
	width: 285px;
	height: 285px;
	background-image: url(../img/olw_item_3.jpg);
	background-position: 0 0;
	margin-right: 6px;
	position: relative; 
}

.tab_f_1:hover a {
	display: block;
	width: 265px;
	height: 265px;
	background-color: #222;
	opacity: 0.85;
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: center;
}

.tab_f_2 {
	display: inline-block;
	width: 580px;
	height: 285px;
	background-image: url(../img/olw_item_4.jpg);
	background-position: 0 0;
	position: relative; 
}

.tab_f_2:hover a {
	display: block;
	width: 560px;
	height: 265px;
	background-color: #222;
	opacity: 0.85;
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: center;
}

.tab_2 {
	width: 285px;
	height: 580px;
	background-image: url(../img/olw_item_5.jpg);
	background-position: 0 0;
	position: relative; 
}

.tab_2:hover a {
	display: block;
	width: 265px;
	height: 560px;
	background-color: #222;
	opacity: 0.85;
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: center;
	line-height: 560px;
}

.our_achivement {
	background-color: #bdbebd;
	padding: 110px 0;
}

.oa_text h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.oa_text p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #fff;
	margin-top: 35px;
	margin-bottom: 60px; 
}

.oa_item {
	display: block;
	text-align: center;
}

.item {
	width: 20%;
	display: inline-block;
	text-align: center;
	float: left;
}

.img_1 {
	width: 66px;
	height: 80px;
	margin: 0 auto;
	background-image: url(../img/achivement_sprite.png);
	background-position: 0 0;
}

.img_2 {
	width: 78px;
	height: 80px;
	margin: 0 auto;
	background-image: url(../img/achivement_sprite.png);
	background-position: -66px 0;
}

.img_3 {
	width: 64px;
	height: 80px;
	margin: 0 auto;
	background-image: url(../img/achivement_sprite.png);
	background-position: -144px 0;
}

.img_4 {
	width: 44px;
	height: 80px;
	margin: 0 auto;
	background-image: url(../img/achivement_sprite.png);
	background-position: -207px 0;
}

.img_5 {
	width: 90px;
	height: 80px;
	margin: 0 auto;
	background-image: url(../img/achivement_sprite.png);
	background-position: -250px 0;
}

.numb {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 37px;
	color: #fff;
	position: relative;
	margin-top: 25px;
}

.numb:after {
	display: block;
	content: "";
	width: 82px;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -41px;
}

.text {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	margin-top: 45px;
	text-transform: uppercase;
}

.latest_event {
	padding: 110px 0;
}

.le_text h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #222;
	text-transform: uppercase;
}

.le_text p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #393939;
	margin-top: 35px;
	margin-bottom: 60px; 
}

.tree {
	float: left;
}

.tree_text {
	display: inline-block;
	width: 380px;
	height: 294px;
	text-align: center;
	padding: 30px 25px 40px;
	background-color: #eff0f2;
}

.tree_text h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 700;
	color: #454444;
	text-transform: capitalize; 
}

.tree_text h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	font-weight: 400;
	color: #6c6b6b;
	margin-top: 15px; 
}

.tree_text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #646464;
	margin-top: 25px;
}

.tree_1 img {
	display:block;
	float: left;
	width: 380px;
}

.tree_2 .tree_text {
	float: left;
}

.tree a {
	display: block;
	width: 130px;
	height: 40px;
	background-color: #000;
	border-radius: 3px;
	margin: 30px auto 0;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
}

.tree a:hover {
	background-color: #43a906;
}

.list {
	width: 400px;
	height: 588px;
	float: right;
	padding-left: 10px;
}

.list img {
	float: left;
	margin-right: 20px;
}

.l_item {
	margin-bottom: 34px;
}

.l_item:hover a {
	text-decoration: underline;
}

.l_item:hover img {
	display: block;
	box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
}

.l_item:after {
	content: "";
	display: block;
	clear: both;
}

.list a {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 700;
	color: #454444;
	text-decoration: none;
}

.list p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #646464;
	margin-top: 20px;
}

.testi {
	padding: 110px 0 0;
	background-color: #101410;
}

.testi_text h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.testi_text p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #fff;
	margin-top: 35px;
	margin-bottom: 60px; 
}

.testi_slide {
	margin-top: 115px;
}

.testi_slide:after {
	content: "";
	display: block;
	clear: both;
}

.testi_slide p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 14px;
	color: #646464;
	text-align: left;
	position: relative;
}

.testi_slide p:before {
	content: "";
	display: block;
	width: 24px;
	height: 20px;
	background-image: url(../img/testi_kav.png);
	background-position: 0 0;
	position: absolute;
	left: -40px;
	top: -3px;
}

.block_1 {
	float: left;
}

.block_2 {
	float: right;
}

.block_1_1, .block_2_1 {
	width: 570px;
	height: 190px;
	background-color: #fff;
	position: relative;
	padding-left: 65px;
	padding-top: 65px;
	line-height: 1.5em;
}

.testi img {
	position: absolute;
	width: 106px;
	height: 106px;
	border-radius: 50%;
	top: -53px;
	left: 50%;
	margin-left: -53px;
}
 
.desc {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.desc .name {
	color: #fff;
	margin-top: 30px;
}

.desc .job {
	color: #43a906;
	margin-top: 5px;
}

.t_slide li {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 5px solid #f5f5f5;
	margin: 0 4px;
}

.t_slide li:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.t_slide {
	display: block;
	text-align: center;
	margin: 70px auto 0;
	padding-bottom: 35px;
}

.last_blog {
	padding: 110px 0 0;
}

.lb_text h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #222222;
	text-transform: uppercase;
}

.lb_text p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #646464;
	margin-top: 35px;
	margin-bottom: 60px; 
}

.lb_tab {
	text-align: center;
}

.lb_tab_main {
	width: 375px;
	display: inline-block;
	border: 1px solid #d1d3d1;
	border-radius: 3px;
	overflow: hidden;
	margin: 0 6px;
}