@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,400';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.inner {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

.inner::after {
	content: '';
	display:block;
	clear:both;
}

.header {
	background-image: url(../img/header_bg.jpg);
	background-size: cover;
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #fff;
}

.navbar_logo {
	display: block;
	width: 80px;
	margin-top: 20px;
	float: left;
}

.navbar_logo:hover {
	border-bottom: 1px solid #ff8b38;
	padding-bottom: 10px;
}

.navbar_nav ul {
	list-style: none;
}

.navbar_nav li {
	display: inline-block;
	margin-left: 50px;
	line-height: 70px;
}

.navbar_nav a {
	text-decoration: none;
	color: #c9c9c9;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: capitalize;
}

.navbar_nav a:hover {
	color: #ff8b38;
	padding-bottom: 5px;
	border-bottom: 1px solid #ff8b38;
}

.navbar_nav {
	float: right;
}

.header_text_logo {
	width: 171px;
	height: 59px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 180px;
}

.header_text {
	float: left;
}

.header_text h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 400;
	color: #fff;
	padding-top: 273px;
}

.header_text h1:after {
	content: "";
	display: block;
	width: 64px;
	height: 2px;
	background-color: #fff;
	margin-top: 40px;
}

.header_text p {
	display: block;
	width: 465px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #c9c9c9;
	padding-top: 40px;
	line-height: 1.5em;
}

.header_text a {
	display: block;
	width: 135px;
	height: 42px;
	line-height: 38px;
	border: 2px solid #fff;
	text-decoration: none;
	color: #fff;
	text-align: center;
	margin-top: 45px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: 140px;
}

.header_text a:hover {
	border: 2px solid #ff8b38;
	background-color: #ff8b38;
}

.header_mail {
	width: 360px;
	background-color: #fff;
	border-radius: 5px;
	float: right;
	margin-top: 210px;
}

.free {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	height: 54px;
	background-color: #f5f5f5;
	border-radius: 5px 5px 0 0;
	line-height: 54px;
	color: #333333;
}

.free span {
	color: #ff8b38;
}

input {
	outline: none;
	border: 1px solid #fff;
	margin-left: 10px;
	color: #ff8b38;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	height: 25px;
}

.input_name, .input_mail, .input_password {
	color: #c9c9c9;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 285px;
	margin: 0 auto;
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 10px;
	margin-top: 30px;
}

.get {
	display: block;
	background-color: #ff9b51;
	height: 55px;
	line-height: 55px;
	border-radius: 0 0 5px 5px;
	color: #fff;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: center;
	margin-top: 48px;
	text-decoration: none;
	width: 100%;
	border-width: 0;
	outline: none;
	cursor: pointer;
}

.get:hover {
	text-decoration: underline;
}

.brand_bar {
	box-shadow: 1px 0 10px 3px rgba(0,0,0,0.38);
	z-index: 1;
}

.bb_text {
	width: 365px;
	float: left;
}

.bb_text h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin-top: 25px;
	color: #333;
}

.bb_text p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-top: 15px;
	color: #86878b;
	margin-bottom: 25px;
	line-height: 1.5em;
}

.bb_social {
	position: absolute;
	top: 50%;
	margin-top: -23px;
	right: 0;
}

.bb_social ul {
	list-style: none;
	display: block;
}

.bb_social li {
	display: block;
	float: left;
	margin-left: 60px;
}

.bb_social a {
	display: block;
	height: 46px;
	float: left;
}

.facebook {
	width: 24px;
	background-image: url(../img/social.png);
	background-position: 0 0;
}

.facebook:hover {
	width: 24px;
	background-image: url(../img/social.png);
	background-position: 0 -46px;
}

.twitter {
	width: 40px;
	background-image: url(../img/social.png);
	background-position: -25px 0;
}

.twitter:hover {
	width: 40px;
	background-image: url(../img/social.png);
	background-position: -25px -46px;
}

.gplus {
	width: 43px;
	background-image: url(../img/social.png);
	background-position: -65px 0;
}

.gplus:hover {
	width: 43px;
	background-image: url(../img/social.png);
	background-position: -65px -46px;
}

.pinterest {
	width: 44px;
	background-image: url(../img/social.png);
	background-position: -108px 0;
}

.pinterest:hover {
	width: 44px;
	background-image: url(../img/social.png);
	background-position: -108px -46px;
}

.instagram {
	width: 43px;
	background-image: url(../img/social.png);
	background-position: -151px 0;
}

.instagram:hover {
	width: 43px;
	background-image: url(../img/social.png);
	background-position: -151px -46px;
}

.hz {
	width: 53px;
	background-image: url(../img/social.png);
	background-position: -196px 0;
}

.hz:hover {
	width: 53px;
	background-image: url(../img/social.png);
	background-position: -196px -46px;
}

.rss {
	width: 40px;
	background-image: url(../img/social.png);
	background-position: -249px 0;
}

.rss:hover {
	width: 40px;
	background-image: url(../img/social.png);
	background-position: -249px -46px;
}

.features_1 {
	background-color: #f5f5f5;
	z-index: -1;
	padding: 140px 0;
}

.tab {
	float: left;
}

.tab_1 {
	width: 110px;
	height: 110px;
	background-color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #fff;
	line-height: 110px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	text-transform: uppercase;
}

.tab_1:hover {
	background-color: #ff8b38;
}

.tab_2 {
	width: 110px;
	height: 110px;
	background-color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #fff;
	line-height: 110px;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
}

.tab_2:hover {
	background-color: #ff8b38;
}

.tab_3 {
	width: 110px;
	height: 110px;
	background-color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #fff;
	line-height: 110px;
	text-align: center;
	border-radius: 0 0 5px 5px;
	text-transform: uppercase;
}

.tab_3:hover {
	background-color: #ff8b38;
}

.tab_text {
	margin-left: 100px;
	float: left;
	width: 475px;
}

.tab_text h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 50px;
}

.tab_text p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 1.5em;
	color: #86878b;
}