@import url(https://fonts.googleapis.com/css?family=Roboto:300, 900);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900,400,700);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
}

.main__wrapper {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.block__1 {
	display: block;
	height: 670px;
	background-image: url(image/block__1__bg__overlay.jpg);
	background-position: center;
	position: relative;
	background-size: cover;
}

.block__1__header__logo {
	display: inline-block;
	margin-left: 330px;
	padding-top: 20px;
	float: left;
}

.block__1__header__logo:hover {
	transform: scale(1.1,1.2);
}

.block__1__header__nav {
	display: inline-block;
	margin-left: 250px;
	margin-top: 35px;
}

.block__1 ul li {
	display: inline-block;
	margin-left: 20px;
}

.block__1 a {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.block__1 a:hover {
	color: #00e0d0;
}

.block__1__content {
	position: relative;
}


.block__1__content h1, p {
	color: #fff;
	text-align: center;
}

.block__1__content h1 {
font-family: 'Playfair Display', serif;
font-weight: 900;
font-size: 32px;
}

.block__1__content h1::after {
	display: block;
	position:absolute;
	content: "";
	width: 50px;
	border-bottom: 1px solid #00e0d0;
	top: 70px;
	left: 48%;
}

.block__1__content p {
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 14px;
margin-top: 60px;
line-height: 20px;
}

.block__1__content {
	display: block;
	width: 780px;
	margin: 160px auto 0;
}

.block__1__footer {
	display: block;
	width: 120px;
	border: 1px solid #fff;
	border-radius: 1px;
	margin: 55px auto 0;
	text-align: center;
	padding: 10px;
}

.block__1__footer:hover {
	border: 1px solid #00e0d0;
}

.block__2 {
	display: block;
	height: 400px;
}

.block__2__left {
	display: inline-block;
	margin-left: 375px;
	margin-top: 75px;
	float: left;
}

.block__2__right {
	display: inline-block;
	margin-left: 100px;
	margin-top: 65px;
	width: 540px;	
}

.block__2__right__text {
	display: block;
}

.block__2__right__text h1 {
	color: #413d4b;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 22px;
}

.block__2__right__text p {
	color: #817f86;
	text-align: left;
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
}

.block__2__botton {
	display: block;
	width: 120px;
	border: 1px solid #817f86;
	border-radius: 1px;
	margin-top: 30px;
	margin-right: 0;
	text-align: center;
	padding: 10px;
}

.block__2__botton:hover {
	border: 1px solid #00e0d0;
	color: #00e0d0;
}

.block__2__right a {
	text-decoration: none;
	color: #817f86;
}

.block__2__botton div {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 900;
}

.block__3 {
	display: block;
	height: 550px;
	background-image: url(image/block__3__bg__overlay.jpg);
	background-position: center;
	background-size: cover;
}

.block__4 {
	display: block;
	height: 780px;
}

.block__5 {
	display: block;
	height: 400px;
	background-image: url(image/block__5__bg__overlay.jpg);
	background-position: center;
	background-size: cover;
}
