* {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}

.main__bg__top {
	display: block;
	height: 180px;
	background-color: #82f2ff;
}

.main__bg__bottom {
	display: block;
	height: 220px;
	background-color: #404040;
	margin-top: 600px;
}

.inner {
	z-index: 1;
	display: block;
	box-sizing: border-box;
	width: 800px;
	height: 770px;
	background-color: #fff;
	margin: -890px auto 0;
	padding: 30px 55px 40px;
	box-shadow: 0 0 79px rgba(0,0,0,0.72);
}

.main__foto {
	display: inline-block;
	border-radius: 50%;
	float: left;
	box-shadow: 0 5px 20px rgba(0,0,0,0.72);
}

.inner__header__text {
	display: inline-block;
}

.inner__header__text__1 {
	font-size: 72px;
	margin-top: 10px;
	margin-left: 35px;
	color: #4b4b4b;
}

.inner__header__text__2 {
	font-size: 32px;
	color: #4b4b4b;
	margin-left: 35px;
	margin-top: 20px;
}

.inner__text {
	display: block;
	font-size: 16px;
	margin-top: 40px;
	color: #4b4b4b;
}

.inner__footer__team {
	font-size: 32px;
	margin-top: 20px;
	margin-left: 10px;
	color: #4b4b4b;
}

.inner__footer {
	display: block;
	box-sizing: border-box;
	padding-left: 25px;
}

.inner__footer__block {
	display: inline-block;
	box-sizing: border-box;
	width: 33.33%;
	text-align: center;
	float: left;
	margin-top: 15px;
}

.name {
	text-transform: uppercase;
	color: #333;
	font-size: 14px;
	margin-top: 10px;
}

.job {
	color: #999;
	font-size: 12px;
	margin-top: 5px;
}

.overlap {
	width: 200px;
	height: 260px;
	background-color: #95e1d3;
	position: absolute;
	left: -9999px;
}

.foto {
	position: relative;
}

.foto:hover .overlap {
	display: block;
	position: absolute;
	top: -5px;
	left: 5px;
	opacity: 0.8;
}

.foto__overlap__links {
	width: 140spx;
	height: 36px;
	float: left;
	background-color: #404040;
	margin: 115px 25px 0;
}

.foto__overlap__links a {
	text-align: center;
	width: 25%;
	height: 36px;
	float: left;
}

.foto__overlap__links img:hover {
	background-color: #fff;
}

.foto__overlap__links img {
	display: inline-block;
	padding: 6px;
}